{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}


{{ form_label(form.name, 'Name', {'label_attr': {'class': 'block font-medium text-gray-700'}}) }}
{{ form_widget(form.name, {'attr': {'class': 'w-full  shadow-sm focus:border-blue-500 '}}) }}

{{ form_label(form.description, 'Description', {'label_attr': {'class': ' font-medium text-gray-700'}}) }}
{{ form_widget(form.description, {'attr': {'class': 'w-full shadow-sm focus:border-blue-500'} }) }}

{{ form_label(form.maxSlots, 'Max Slots', {'label_attr': {'class': 'font-medium text-gray-700'}}) }}
{{ form_widget(form.maxSlots, {'attr': {'class': 'w-full shadow-sm focus:border-blue-500 '}}) }}

{{ form_label(form.roomNumber, 'N° de salle', {'label_attr': {'class': 'font-medium text-gray-700'}}) }}
{{ form_widget(form.roomNumber, {'attr': {'class': 'w-full  shadow-sm focus:border-blue-500 '}}) }}
<twig:Button color="primary">
	{{ button_label|default('Ajouter') }}
</twig:Button>
<a class="mt-5" href="{{ path('app_workshops_index') }}">Retour</a>
{{ form_end(form) }}
