{% extends 'base.html.twig' %}

{% block title %}Workshops index
{% endblock %}

{% block body %}
	<twig:Container>
		{% include "layouts/flash_message.html.twig" %}
		<twig:Card>
			<twig:PageTitle>Index des Atelier</twig:PageTitle>
			<twig:Table>
				<thead class="uppercase border-b-2 border-neutral-600">
					<tr>
						<th scope="col" class="px-2 py-4">Id</th>
						<th scope="col" class="px-2 py-4">Name</th>
						<th scope="col" class="px-2 py-4">Description</th>
						<th scope="col" class="px-2 py-4">Max Slots</th>
						<th scope="col" class="px-2 py-4">Room Number</th>
						<th scope="col" class="px-2 py-4">Actions</th>
					</tr>
				</thead>
				<tbody name="body">
					{% for workshop in workshops %}
						<tr class="border-b dark:border-neutral-600"></tr>
						<td class="px-2 py-4">{{ workshop.id }}</td>
						<td class="px-2 py-4 font-medium text-gray-900">
							<a href="{{ path('app_workshops_show', {'id': workshop.id}) }}" class=" hover:text-blue-600">
								{{ workshop.name }}
							</a>
						</td>
						<td class="px-2 py-4">{{ workshop.description }}</td>
						<td class="px-2 py-4 text-xs">{{ workshop.maxSlots }}</td>
						<td class="px-2 py-4 text-xs">{{ workshop.roomNumber }}</td>
						<td class="px-2 py-4 space-x-2">
							<div class="flex flex-row justify-center space-x-3">


								<twig:Link color="info" href="{{ path('app_workshops_edit', {'id': workshop.id}) }}">Modifier</twig:Link>
								{{ include('workshops/_delete_form.html.twig') }}
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6" class="px-6 py-4 text-center text-gray-500">
							No records found
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</twig:Table>

		<twig:Link color="primary" href="{{ path('app_workshops_new') }}" class="px-2 py-1 bg-blue-500 text-white  hover:bg-blue-300">
			Ajouter</twig:Link>
		<a href="{{ path('app_dashboard_admin') }}" class="m-5">
			Retour</a>
	</twig:Card>
</twig:Container>{% endblock %}
