<nav class=" flex-row p-4 justify-between items-center md:flex lg:flex hidden shadow-md">
	<div class="flex space-x-2 flex-1 items-center">
		<img class=" max-w-[75px]" src="{{ asset('images/logo.svg') }}" alt="">
		<img class=" max-w-[75px]" src="{{ asset('images/logo-txt.svg') }}" alt="">
	</div>
	<div class="flex flex-6 justify-between">
		<div class="flex space-x-4 items-center">
			<li class="list-none">
				<a href="{{ path('app_homepage') }}" class=" ">
					Accueil
				</a>
			</li>
			<li class="list-none">
				<a href="{{ path('app_qr_code') }}" class=" ">
					Qr-code
				</a>
			</li>
			<li class="list-none">
				<a href="{{ path('app_reservations_index') }}" class=" ">
					Reservations
				</a>
			</li>
			<li class="list-none">
				<a href="{{ path('app_time_slots_index') }}" class=" ">
					TimeSlots
				</a>
			</li>
			<li class="list-none">
				<a href="{{ path('app_user_index') }}" class=" ">
					Utilisateur
				</a>
			</li>
			<li class="list-none">
				<a href="{{ path('app_workshops_index') }}" class=" ">
					Workshops
				</a>
			</li>
			<li class="list-none">
				<a href="{{ path('app_dashboard_admin') }}" class=" ">
					Admin Dashboard
				</a>
			</li>
		</div>
		<div class="flex space-x-3">
			{% if app.user %}
				<li class="list-none">
					<twig:Link href="{{ path('app_logout') }}" color="danger" onclick="return confirm('Es-tu sûr de vouloir te déconnecter ?');">
						Déconnexion
					</twig:Link>
				</li>
			{% else %}
				<li class="list-none">
					<twig:Link href="{{ path('app_register') }}" color="primary">
						Inscription
					</twig:Link>
				</li>
				<li class="list-none">
					<twig:Link href="{{ path('app_login') }}" color="info">
						Connexion
					</twig:Link>
				</li>
			{% endif %}
		</div>
	</div>

</nav>
