{{ form_start(form) }}
{{ form_widget(form) }}


{# <div class="flex items-center">

	{{ form_label(form.date) }}
	{{ form_widget(form.date, {"attr": {"class": "form-control"}}) }}
</div>


<div class="flex items-center">

	{{ form_label(form.fromTime) }}
	{{ form_widget(form.fromTime, {"attr": {"class": "form-control"}}) }}
</div>


<div class="flex items-center">

	{{ form_label(form.toTime) }}
	{{ form_widget(form.toTime, {"attr": {"class": "form-control"}}) }}
</div>


<div class="flex items-center mb-3">
	{{ form_label(form.workshop) }}
	{{ form_widget(form.workshop, {"attr": {"class": "form-control form-combo"}})  }}
</div> #}

<twig:Button
	color="primary">
	{#	<button>Save</button>#}
	Sauvegarder
</twig:Button>

{{ form_end(form) }}
