{{ form_start(form) }}
<div class="flex items-center">

	{{ form_label(form.date) }}
	{{ form_widget(form.date, {"attr": {"class": "form-control"}}) }}
</div>


<div class="flex items-center">

	{{ form_label(form.fromTime) }}
	{{ form_widget(form.fromTime, {"attr": {"class": "form-control"}}) }}
</div>


<div class="flex items-center">

	{{ form_label(form.toTime) }}
	{{ form_widget(form.toTime, {"attr": {"class": "form-control"}}) }}
</div>


<div class="flex items-center mb-3">
	{{ form_label(form.workshop) }}
	{{ form_widget(form.workshop, {"attr": {"class": "form-control form-combo"}})  }}
</div>

<twig:Link href="form.submit()" color="primary">
	<button>Save</button>
</twig:Link>


{{ form_end(form) }}
