{% extends 'base.html.twig' %}

{% block title %}Index des créneaux
{% endblock %}

{% block body %}
	<div class="container">
		{% include "layouts/flash_message.html.twig" %}
		<div class="card">
			<table class="w-full text-center customTable">
				<h1 class="mb-9">Créneau</h1>
				<thead>
					<tr>
						<th>Id</th>
						<th>De</th>
						<th>A</th>
						<th>Date</th>
						<th>Atelier</th>
						<th class="flex flex-row justify-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for time_slot in time_slots %}
						<tr>
							<td>{{ time_slot.id }}</td>
							<td>{{ time_slot.fromTime ? time_slot.fromTime|date('H:i:s') : '' }}</td>
							<td>{{ time_slot.toTime ? time_slot.toTime|date('H:i:s') : '' }}</td>
							<td>{{ time_slot.date ? time_slot.date|date('Y-m-d') : '' }}</td>
							<td>{{ time_slot.workshop.name }}</td>
							<td>
								{# <a href="{{ path('app_time_slots_show', {'id': time_slot.id}) }}">Show</a> #}
								<div class="flex flex-row justify-center">

									<a href="{{ path('app_time_slots_edit', {'id': time_slot.id}) }}" class="button bg-[var(--info)] mx-3">Éditer</a>
									<a href="{{ path('app_time_slots_delete', {'id': time_slot.id}) }}" class="button bg-[var(--danger)] mx-3" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce créneau?');">Supprimer</a>
								</div>


							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Il n'existe aucune créneaux.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{{ path('app_time_slots_new') }}" class="button bg-[var(--primary)]">Créer un nouveau</a>
		</div>
	</div>
{% endblock %}
