{% extends 'base.html.twig' %}

{% block title %}Index des réservations{% endblock %}

{% block body %}
    <h1>Index des réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro téléphone</th>
                <th>Nom de la formation</th>
                <th>Veux être rappelé de l'atelier</th>
                <th>Créneau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.firstname }}</td>
                <td>{{ reservation.lastname }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.phoneNumber }}</td>
                <td>{{ reservation.formationName }}</td>
                <td>{{
                    reservation.timeslot.fromTime|format_time(time_format='short', timezone='Europe/Paris', locale='fr') }}
                    -
                    {{ reservation.timeslot.toTime|format_time(time_format='short', timezone='Europe/Paris', locale='fr') }}
                </td>
                <td>{{ reservation.isReminderActive ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_reservations_show', {'id': reservation.id}) }}">Voir</a>
                    <a href="{{ path('app_reservations_edit', {'id': reservation.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Il n'existe aucune réservation.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservations_new') }}">Créer une nouvelle</a>
{% endblock %}
