{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<twig:Container>
		<twig:Card>
			<twig:PageTitle>Gestion des Utilisateur</twig:PageTitle>
			<twig:Table class="min-w-full text-sm text-left text-gray-500">
				<thead class="uppercase border-b-2 border-neutral-600">
					<tr>
						<th scope="col" class="px-2 py-4">Id</th>
						<th scope="col" class="px-2 py-4">Email</th>
						<th scope="col" class="px-2 py-4">Roles</th>
						<th scope="col" class="px-2 py-4">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr class="border-b dark:border-neutral-600"></tr>
						<td class="px-2  py-4">{{ user.id }}</td>

						<td class="px-2  py-4">{{ user.email }}</td>

						{# <td "px-6 py-4 text-xs">{{ user.roles ? user.roles|json_encode : '' }}</td> #}
						<td class="px-2  py-4">

							{% for role in user.roles %}
								{% if role == 'ROLE_ADMIN' %}
									<span class="px-1 pt-1 bg-red-600 text-white text-s" disabled>
										Admin</span>
								{% elseif role == 'ROLE_USER' %}
									<span class="mx-1 p-2 bg-green-800 rounded-full text-white text-xs" disabled>
										User</span>
								{% elseif role == 'ROLE_EDITOR' %}
									<span class="px-1 pt-1 bg-yellow-600 text-white text-s" disabled>
										Editeur</span>
								{% else %}
									{{ role|capitalize }}
								{% endif %}
							{% endfor %}
						</td>
						<td class="px-2  py-4">
							<div class="flex flex-row justify-center space-x-3">
								<twig:Link color="info" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</twig:Link>

								{# <a href="{{ path('app_user_delete', {'id': user.id}) }}">❌</a> #}
								{{ include('user/_delete_form.html.twig') }}</div>

						</td>
					</tbody>
				</tbody>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</twig:Table>
<twig:Link color="primary" href="{{ path('app_user_new') }}" class=" px-2 py-1 bg-blue-500 text-white  hover:bg-blue-300">Ajouter</twig:Link>
<a class="mt-5" href="{{ path('app_dashboard_admin') }}">Retour</a></twig:Card></twig:Container>{% endblock %}
